


img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100px;
    object-position: right;
    
    
}
.container{
    width: 60%;
}
.dog > .kent{
    
    height: 170px;

}

